$bootstrap-dialog-font-size: 13px !default;

$modal-header-radius: 4px !default;
$modal-header-border-top-left-radius: $modal-header-radius;
$modal-header-border-top-right-radius: $modal-header-radius;

$bootstrap-dialog-title-color: #000000 !default;
$bootstrap-dialog-title-font-size: 1.231em !default;

$bootstrap-dialog-message-font-size: 1.077em !default;

$bootstrap-dialog-close-button-font-size: 1.538em !default;
$bootstrap-dialog-close-button-opacity: 0.9 !default;

$bootstrap-dialog-close-button-hover-opacity: 1 !default;

/** themes **/

// info
$bootstrap-dialog-info-modal-header-background-color: #17A2B8 !default;
$bootstrap-dialog-info-modal-header-color: #FFFFFF !default;

// primary
$bootstrap-dialog-primary-modal-header-background-color: #007BFF !default;
$bootstrap-dialog-primary-modal-header-color: #FFFFFF !default;
// secondary
$bootstrap-dialog-secondary-modal-header-background-color: #6C757D !default;
$bootstrap-dialog-secondary-modal-header-color: #FFFFFF !default;

// success
$bootstrap-dialog-success-modal-header-background-color: #28A745 !default;
$bootstrap-dialog-success-modal-header-color: #FFFFFF !default;

// warning
$bootstrap-dialog-warning-modal-header-background-color: #FFC107 !default;
$bootstrap-dialog-warning-modal-header-color: #FFFFFF !default;

// danger
$bootstrap-dialog-danger-modal-header-background-color: #DC3545 !default;
$bootstrap-dialog-danger-modal-header-color: #FFFFFF !default;

// light
$bootstrap-dialog-light-modal-header-background-color: #F8F9FA !default;
$bootstrap-dialog-light-modal-header-color: #FFFFFF !default;

// dark
$bootstrap-dialog-dark-modal-header-background-color: #343A40 !default;
$bootstrap-dialog-dark-modal-header-color: #FFFFFF !default;